<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>

    <%- include("./partials/nav") %>
    <div class="container mt-3 row row-cols-2">
      <% blogs.forEach(blog => { %>
        <div class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.desc %></p>
                  <a href="/blog/<%=blog._id %>" class="btn btn-primary mb-3">Read</a>
              </div>
            </div>
        </div>
      <% }); %>
    </div>

    <%- include("./partials/script") %>
</body>
</html>