<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Blgo</title>
</head>
<body>
    <%- include("./partials/nav") %>
    
    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <p><%= blog.desc %></p>
        <p><%= blog.blog %></p>
    </div>

    <div class="container mt-4">
        <img src="<%= blog.createdBy.userImgUrl %>" width="100px" /> <%= blog.createdBy.fullname %>
    </div>

    <%- include("./partials/script") %>
</body>
</html>